#content .ten-truyen-hinh{
    margin-top: -57px;
    margin-left: 3px;
}

#content .ten-truyen-hinh img{
    width: 100%;
}

#content .tieu-de{
    margin-top: 20px;
}

#content .tieu-de a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.btn-tuyen-dung{
    border-radius: 50%;
    background: #810c15;
}

.btn-tuyen-dung a{
    color: #fff;
    text-decoration: none;
}
.breadcrumb li a,li{
    color:#000;
    font-weight: 600;
    font-size: 18px;
}
.breadcrumb >li+li:before{
    padding: 0 20px;
    content: url('../img/next-icon.png');
    vertical-align: middle;
    
}
.img-pixel{
    width: 100%;
    height: 300px;
}