.content{
    padding-left: 0px!important;

}
.content > div{
    margin-top: 50px;
}
.content img{
    width: 90%;
    margin-top: 20px;
}

.content p{
    width: 95%;
    font-size: 25px;
    color: #7f7f7f;
}

#form2{
    padding-left: 15px;
}

#form2 input{
    border: 1px solid #810c15;
    color: #810c15;
}

.red-border{
    border-top: solid #810c15;
    margin: 0 50px;
    padding: 0 10px;
}
.sb{
    margin-top: 50px;
}
.sb img{
    margin-top: 20px;
}

.sb p{
    font-size: 20px;
    color: #7f7f7f;
}
.stu{
    margin-top: 40px;
    margin-bottom: 50px;
}
.stu p{
    background-color: #810c15;
    border-radius: 20px;
    color: #fff;
    padding: 20px 100px 20px 100px;
}
.size-60{
    font-size: 60px;
}



