#content-dangki-h3-1{
    color: #810c15;
    
    padding-left: 400px;
}
#content-dangki-h3-2{
    color: #810c15;
    
}
.content-dangki-h5{
    color: #810c15;
    
    text-align: center;
}
.conten-dangki-h1{
    color: #810c15;
    
    font-size: 60px;
}
.content-dangki-p{
    text-align: center;
    
}

.content-dangki-tab{
    padding-top: 40px;
}

.content-dangki-border{
    
}